.jumbotron {
  min-height: 7vh;
  padding-top: 3vh;
  background-image: url('https://goo.gl/CmSDt5');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  font-family: 'Montserrat Subrayada', sans-serif;
  margin-bottom: 0.35vh;

}

@media screen and (max-width: 636px) {

  .jumbotron {
    background-image: url('https://goo.gl/CmSDt5');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'Montserrat Subrayada', sans-serif;
          }

  div.jumbotron.text-center h1{
    font-size: 3.5vh;
  }
        }
