@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

p{
    margin: 0px;
}

li {
    list-style: none;    
}

.btn, .form-control {
    border-radius: 2px;
    box-shadow: none !important;
}

.footer a {
    color: white;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #FFF;
}

.footer .footer {
    background-color: #2E3436;
    padding: 0.2em;
    margin-top: 1em;
}

.footer .footer .footer-desc p {
    color: #DDD;
    Text-align: Center;
}

.footer .footer .social {
    margin: 0 auto;
    display: table;
}

.footer .footer .social li {
    float: left;
    padding-top: 0.5em;
}

.footer .footer .social li a {
	display: block;
    font-size: 1em;
    color: #DDD;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 2px;
    margin: 15px 4px
}

.footer .footer .social li a:hover {
    background-color: #3A4144;
}

.footer .footer .input-group {
    margin: 15px 0;
}

.footer .footer .form-control {
    border-radius: 2px 0 0 2px;
    background-color: #585C5D;
    border-color: #585C5D;
    color: #DDD;
    font-size: 15px;
}

.footer .footer .form-control:hover,
.footer .footer .form-control:focus {
    border: 1px solid #222728;
    background-color: #222728;
}

.footer .footer .input-group-addon {
    border-radius: 0 2px 2px 0;
    color: #FFF;
    font-size: 15px;
    text-align: center;
    width:125px;
    line-height: 45px;
}

.footer .footer-bottom {
    background-color: #222728;
    color: #DDD;
    text-align: center;
}

.footer .footer-bottom ul li {
    display: inline-block;
}

.footer .footer-bottom ul li a {
    display: block;
    padding-left: 8px;
}

.footer .footer-bottom ul li a:after {
    content: "-";
    padding-left: 8px;
}

.footer .footer-bottom ul li:last-child a:after {
    content: "";
}

div.footer-desc.text-center img{
    height: 4em;
}