@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.row {
    margin:0;
}

p{
    margin-left: 10px;
}

li {
    list-style: none;    
}

ul {
    padding-left: 0px;
}

.btn, .form-control {
    border-radius: 2px;
    box-shadow: none !important;
}

.footer a {
    color: white;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #FFF;
}

.footer .footer {
    background-color: #2E3436;
    padding: 0.2em;
    margin-top: 1em;
}

.footer .footer .footer-desc p {
    color: #DDD;
    Text-align: Center;
}

.footer .footer .social {
    margin: 0 auto;
    display: table;
}

.footer .footer ul.social {
    padding-top: 1em;
}

.footer .footer .social li {
    float: left;
    padding-top: 0.5em;
}

.footer .footer .social li a {
    color: #DDD;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 5px;
}

.footer .footer .social li a:hover {
    background-color: white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.footer .footer .input-group {
    margin: 15px 0;
}


.footer .footer-bottom {
    background-color: #222728;
    color: #DDD;
    text-align: center;
}

.footer .footer-bottom ul li {
    display: inline-block;
}

.footer .footer-bottom ul li a {
    display: block;
    padding-left: 4px;
}

.footer .footer-bottom ul li a:after {
    content: "-";
    padding-left: 5px;
}

.footer .footer-bottom ul li:last-child a:after {
    content: "";
}

div.footer-desc.text-center img{
    height: 4em;
}